<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EndpointUri" value="https://win20sw-cosmosdb.documents.azure.com:443/" />
		<add key="PrimaryKey" value="kYjsoTvZuA2gvJBLrO0veElpFTZnxwMy8blGnzHiqoeLPvZFwLjNM8WYNJYOXJukSWfs3q8Cz2slkh8vX3tadA==" />
		<add key="DatabaseName" value="TodoDatabse" />
		<add key="ContainerName" value="Items" />
	</appSettings>	
</configuration>