<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SqlConnection" value="Server=tcp:win20sw-sqlserver.database.windows.net,1433;Initial Catalog=SWAzureSqlCodeFirst;Persist Security Info=False;User ID=SqlAdmin;Password={Sammyman_86};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</appSettings>
</configuration>